{% extends "base.html" %}

{% block content %}
	<form method="POST">
		Hostname: <input type="text" name="sshhost"><br>
		Port Number: <input type="text" name="sshport", value="22"><br>
		Username: <input type="text" name="sshuser", value="root"><br>
		Password: <input type="password" name="sshpass"><br>
		Host Type: <select name="hosttype" id="hosttype">
					  <option value="DP Dedi">DP Dedi</option>
					  <option value="DP VPS">DP VPS</option>
					  <option value="CR VPS">CR VPS</option>
					</select>
		R1 Server: <select name="r1server" id="r1server">
					  <option value="CURRENT">CURRENT</option>
					  <option value="nxsrv01">nxsrv01</option>
					  <option value="nxsrv02">nxsrv02</option>
					  <option value="nxsrv03">nxsrv03</option>
					</select>
		
	<input type="submit" value="Submit"><br>
	</form>
{% endblock %}
