{% extends "base.html" %}

{% block content %}

	<form method="POST">
		<p><label for="a">Hostname:</label> <input id="a" type="text" name="sshhost", value="shshort.tk"><br>
		<p><label for="b">Port Number:</label> <input id="b" type="text" name="sshport", value="22"><br>
		<p><label for="c">Username:</label> <input id="c" type="text" name="sshuser", value="root"><br>
		<p><label for="d">Password:</label> <input id="d" type="password" name="sshpass"></p><br>
		
		<p><label for="hosttype">Host Type:</label> <select name="hosttype" id="hosttype">
					  <option value="DP Dedi">DP Dedi</option>
					  <option value="DP VPS">DP VPS</option>
					  <option value="CR VPS">CR VPS</option>
					  <option value="TERRA">TERRA</option>
					</select>
					
		<p><label for="r1server">R1 Server:</label> <select name="r1server" id="r1server">
					  <option value="CURRENT">CURRENT</option>
					  <option value="nxsrv16.ded.voc.digitalpacific.com.au">nxsrv16</option>
					  <option value="nxsrv17.ded.voc.digitalpacific.com.au">nxsrv17</option>
					  <option value="nxsrv18.ded.voc.digitalpacific.com.au">nxsrv18</option>
					  <option value="nxsrv27.ded.voc.digitalpacific.com.au">nxsrv27</option>
					  <option value="nxsrv44.ded.voc.digitalpacific.com.au">nxsrv44</option>
					  <option value="nxsrv45.ded.voc.digitalpacific.com.au">nxsrv45</option>
					  <option value="nxsrv60.ded.voc.digitalpacific.com.au">nxsrv60</option>
					  <option value="nxsrv61.ded.voc.digitalpacific.com.au">nxsrv61</option>
					  <option value="nxsrv66.vps.voc.digitalpacific.com.au">nxsrv66</option>
					  <option value="nxsrv67.ded.voc.digitalpacific.com.au">nxsrv67</option>
					  <option value="nxsrv70.vps.voc.digitalpacific.com.au">nxsrv70</option>
					  <option value="nxsrv72.vps.voc.digitalpacific.com.au">nxsrv72</option>
					  <option value="nxsrv76.ded.voc.digitalpacific.com.au">nxsrv76</option>
					  <option value="nxsrv79.vps.glsw.digitalpacific.com.au">nxsrv79</option>
					  <option value="nxsrv80.ded.glsw.digitalpacific.com.au">nxsrv80</option>
					  <option value="nxsrv82.vps.glsw.digitalpacific.com.au">nxsrv82</option>
					  <option value="nxsrv1998.ded.voc.smartservers.com.au">nxsrv1998</option>
					  <option value="nxsrv2982.ded.voc.smartservers.com.au">nxsrv1982</option>
					  <option value="ded88493.smartservers.com.au">ded88493</option>
					  <option value="ded88868.smartservers.com.au">ded88868</option>
					  <option value="ded89679.smartservers.com.au">ded89679</option>
					  <option value="ded90148.smartservers.com.au">ded90148</option>
					  <option value="ded91508.smartservers.com.au">ded91508</option>
					  <option value="ded93076.smartservers.com.au">ded93076</option>
					  <option value="ded93264.smartservers.com.au">ded93264</option>
					  <option value="ded93905.smartservers.com.au">ded93905</option>
					  <option value="ded93918.smartservers.com.au">ded93918</option>
					  <option value="ded95558.smartservers.com.au">ded95558</option>
					  <option value="nxsrv34.vps.voc.crucial.com.au">nxsrv34</option>
					  <option value="nxsrv35.vps.voc.crucial.com.au">nxsrv35</option>
					  <option value="nxsrv36.vps.voc.crucial.com.au">nxsrv36</option>
					  <option value="nxsrv38.vps.voc.crucial.com.au">nxsrv38</option>
					  <option value="nxsrv39.vps.voc.crucial.com.au">nxsrv39</option>
					  <option value="nxsrv40.vps.voc.crucial.com.au">nxsrv40</option>
					  <option value="nxsrv41.vps.voc.crucial.com.au">nxsrv41</option>
					  <option value="idera11.au.crucialx.net">idera11</option>
					  <option value="idera012.au.crucialx.net">idera12</option>

					</select>
		
		<input type="submit" value="Submit"><br>
	</form>
	
{% endblock %}
